.card {
    
    min-height: 50rem;
    position: relative;
    perspective: 150rem;
   
    &__side {
        
        height: 50rem;
        position: absolute;
        width: 100%;
        backface-visibility: hidden;
        transition: all 1s;
        box-shadow: 0 2rem 4rem rgba($color-black, .15);

        &--front {
            
        }

        &--back {
            transform: rotateY(180deg);
            
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &__picture {

        height: 24rem;
        background-size: cover;
        background-position: center;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
        }
    }

    &__heading {
        text-transform: uppercase;
        position: absolute;
        top: 12.5rem;
        right: 1.5rem;
        font-size: 3rem;
        font-weight: 300;
        color: $color-white;
        text-align: right;
        width: 20rem;
        line-height: 1.7;
        
        &-span {
            padding: 1rem;
            -webkit-box-decoration-break: clone;

            &--1 {
                background-image: linear-gradient(to right, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
            }

            &--2 {
                background-image: linear-gradient(to right, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
            }

            &--3 {
                background-image: linear-gradient(to right, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
            }
        }
    }

    &__details {
        text-align: center;
        font-size: 1.4rem;
        padding: 2rem 0;
        width: 60%;
        margin: 0 auto;
    } 

    &__list {
        list-style: none;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 1.5rem;
            border-bottom: 1px solid $color-grey-light-2;
            padding-bottom: 1rem;
        }
    }

    

    &:hover &__side--front {
        transform: rotateY(-180deg);
    } 

    &:hover &__side--back {
        transform: rotateY(0);
    }


    ///////////////
    // card back
    
    .cta {

        display: grid;
        height: 100%;
        grid-template-rows: repeat(3, 1fr);
        color: #fff;
        justify-content: center;
        justify-items: center;
        align-items: center;
        grid-row-gap: 2rem;

        &__price-only {
            align-self: end;
            text-transform: uppercase;
            font-size: 1.5rem;
            letter-spacing: .1rem;
           
        }

        &__price-value {
            font-size: 7rem;
            font-weight: 200;
            margin-top: -5rem;
        }

        &__btn {
            justify-self: start;
            align-self: start;
        }

    }
}