// margin top
.u-margin-top-huge { margin-top: 10rem; }

.u-margin-top-big { margin-top: 8rem; }

.u-margin-top-medium { margin-top: 6rem; }

.u-margin-top-small { margin-top: 4rem; }

.u-margin-top-xsmall { margin-top: 2rem; }

.u-margin-top-xxsmall { margin-top: 1rem; }


// margin bottom 
.u-margin-bottom-huge { margin-bottom: 10rem; }

.u-margin-bottom-big { margin-bottom: 8rem; }

.u-margin-bottom-medium { margin-bottom: 6rem; }

.u-margin-bottom-small { margin-bottom: 4rem; }

.u-margin-bottom-xsmall { margin-bottom: 2rem; }

.u-margin-bottom-xxsmall { margin-bottom: 1rem; }
